:root {
    --first-color: silver;
    --second-color: blue;
    --third-color: #A9A9A9;
    --fourth-color: red;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

header {
    background-color: var(--third-color);
    height: 150px;
    width: 100%;
}


nav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 5% 5% 0 5%;
    gap: 2%;
}


.navigation-links{
    display: flex;
    list-style: none;
    gap: 10%;
    padding-left: 10%;
}

.navigation-links a {
    text-decoration: none;
    color: black;
}

.navigation-links a:hover {
    color: gray;
}

.language-links{
    display: flex;
    padding: 0 5%;
    justify-content: flex-end;
    gap: 15%;
}


.icone_bandeira {
    width: 50px;
    height: 50px;
}

/*

Container e afins

*/


section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0% 5% 0% 5%;
}

.text {
    background-color: red;
}

.image {
    background-color: blue;
}


/**

Rodapé

*/

footer {
    background-color: var(--third-color);
    height: 300px;
}

.final {
    width: 100%;
    height: auto;
}

.social-media{
    display: flex;
    background-color: aqua;
    gap: 10%;
    justify-content: center;
    justify-items: end;
}

.linkedin,
.github,
.telefone {
    font-size: 30px;
    color: black;

}
