:root {
    --first-color: silver;
    --second-color: blue;
    --third-color: aqua;
    --fourth-color: red;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

.navigation-bar{
    height: 100px;
    display: flex;
    gap: 10%;
    padding: 4%;
    text-decoration: none;
}

.navigation-bar li{
    list-style: none;
}



.navigation-bar a {
    text-decoration: none;
    color: black;
}

.navigation-bar a:hover {
    color: gray;
}
.navigation-left {
    background-color: green;
    width: 50%;
}

.navigation-right{
    display: flex;
    background-color: blue;
    width: 50%;
    gap: 5%;
}

.languages{
    height: 100%;
    background-color: green;
}

.parte1 h1{
    padding-left: 5%;
    font-size: 70px;
}
.parte1 p {
    padding-left: 5%;
    font-size: 20px;    
}


/*Barra aonde estão as linguagens*/

.language{
    background-color: aquamarine;
    height: 280px;
    width: 100%;
    display: flex;
    gap: 13%;
    padding-left: 10%;
    padding-right: 5%;

}

.language1{
    background-color: var(--fourth-color);
    border-radius: 10px;
    height: 90%;
    margin-top: 15px;
    width: 250px;
}

.language2{
    background-color: var(--fourth-color);
    border-radius: 10px;
    height: 90%;
    margin-top: 15px;
    width: 250px;
}

.language3{
    background-color: var(--fourth-color);
    border-radius: 10px;
    height: 90%;
    margin-top: 15px;
    width: 250px;
}

footer {
    display: flex;
    gap: 10px;

}

.ladoEsquerdo {
    background-color: var(--first-color);
    width: 50%;
    height: 200px;
}

.ladoDireito {
    background-color: var(--second-color);
    width: 50%;
    height: 200px;
}

/*@media screen and (max-width: 760px) {
    footer {
        background-color: green;
    }
}*/
